@import '../theme/base-theme.scss';
// 全局样式

html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
}

div {
	transition-property: background-color;
	transition-duration: #{$transition-time};
	transition-timing-function: ease;
}

.el-scrollbar { 
	height: 100%;
	.el-scrollbar__wrap {
		overflow-x: hidden;
	}
}