// 变量

// color
$blue: #3AA7FD;
$gray: #282C34;

// font-color
$font-white: #FFFFFF;

// 过渡
$transition-time: 0.5s;

// dock
$dock-height: 50px;

// app-container
$app-container-header-height: 30px;
$app-container-border-radius: 3px;