$theme-main-color: #5bffb5;

$dark-v1: (
  font-color: #ffffff,
  background-color: #000000,

  // dock
  dock-bg-color: rgba(19, 19, 19, 0.618),
  dock-icon-border-color: $theme-main-color,

  // app
  app-container-bg-color: rgb(66, 66, 66),
)