$theme-main-color: #52ceff;

$light-v1: (
  font-color: #000000,
  background-color: #ffffff,

  // dock
  dock-bg-color: rgba(212, 212, 212, 0.192),
  dock-icon-border-color: $theme-main-color,

  // app
  app-header-color: #ffffff,
  app-header-border-color: #a7a7a7,
)